footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #fff;
    box-shadow: 4px -4px 6px #e4e4e4;
    height: 44px;
    .footer-container {
        display: flex;
        flex-direction: row;
        position: relative;
        .footer-item {
            flex: 1;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;
            min-height: 55px;
            ion {
                font-size: 30px;
            }
            &.on {
                color: red;
            }
        }
        .footer-item+.footer-item {
            &:before {
                content: " ";
                position: absolute;
                top: 10px;
                bottom: 10px;
                width: 1px;
                color: #ccc;
                background-color: #ccc;
                transform: scaleX(.5);
            }
        }
    }
    &.animated {
        animation-duration: 1s;
        animation-fill-mode: both;
    }
    &.footerSlideOutDown {
        animation-name: footerSlideOutDown
    }
    &.footerSlideInUp {
        animation-name: footerSlideInUp
    }
}

@keyframes footerSlideOutDown {
    0% {
        transform: translateZ(0);
        height: 55px;
    }
    to {
        transform: translate3d(0, -100%, 0);
        height: 0;
    }
}

@keyframes footerSlideInUp {
    0% {
        transform: translateZ(0, -100%, 0);
        height: 0;
        opacity: 0;
    }
    to {
        transform: translate3d(0);
        height: 55px;
        opacity: 1;
    }
}